body{
    background: rgba(161, 162, 229, 0.625);
}

.clock{
    position: relative;
    text-align: center;
    color: #25c02f;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
}

.text1{
    position: relative;
    text-align: center;
    color: #3a9f32;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
}

.text2{
    position: relative;
    text-align: center;
    color: #35e908;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
    margin-left: 100px;
    margin-right: 100px;
}

img{
    margin-top: 120px;
    width: 17%;
}